.admin {
  display: flex;
  width: inherit;
  flex-direction: column;
  flex-wrap: wrap;
}

.sid-bar {
  height: 100%;
  max-width: 20%;
  padding: 1rem 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  background: #393e46;
  position: relative;
}

.admin header {
  display: flex;
  padding: 1rem;
  min-width: 80%;
  height: 60px;
}
.main {
  display: flex;
  padding: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 900;
  border-bottom: 1px solid #1b262c;
  height: 70px;
  background: inherit;
  background: #222831;
}
.scroll {
  overflow-y: auto;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: normal;
  grid-template-rows: auto;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  height: calc(100% - 70px);
}

/* tab Item */

.tab-item {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  letter-spacing: 0.2rem;
  font-weight: lighter;
  padding: 2.8rem 2rem;
  color: #eff3ea;
  border-bottom: 1px solid #1b262c;
}

.tab-item:last-child {
  border-bottom: none;
}

.tab-item:hover {
  cursor: pointer;
  background: #eeeeee;
  color: #205781;
}
.tab-item:hover .tab-icon {
  fill: #205781;
}

/* Scrollbar  */
.scroll::-webkit-scrollbar {
  width: 1rem;
}

.scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  visibility: hidden;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.3);
}
