body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  font-size: 2.2rem;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ccc;
  margin: auto;
  outline: white 1px solid;
  padding: 2.5rem;
  width: fit-content;
}

.login h1 {
  padding-top: 0;
  margin-top: 0;
}

.login label {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 0;
  font-size: 1.8rem;
}

.link {
  margin-top: 0.1rem;
  text-align: right;
}

.link a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color 0.5s ease;
}
.link a:hover {
  color: purple;
}

.login button {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.login input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem;
  width: 32rem;
}

*:focus {
  outline: none;
}
.login input:focus {
  outline: none;
  border: 1px solid lightblue;
}

.login button {
  background: #08d9d6;
  border-radius: 2px;
  border: 1px white solid;
  color: white;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.login button:hover {
  background: white;
  border-radius: 2px;
  border: black 1px solid;
  color: black;
  cursor: pointer;
}

.it {
  align-items: center;
  display: flex;
  font-size: 2.2rem;
  gap: 2rem;
  margin-bottom: 2rem;
}

.it img {
  width: 60px;
  height: 60px;
  border-right: 1px solid palegreen;
}
