body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: rgba(255, 255, 255, 0.5);
  outline: white 1px solid;
  margin: auto;
  width: fit-content;
  box-shadow: 0 0 10px 5px #ccc;
  border-radius: 5px;
  padding: 2.5rem;
}

.login h1 {
  margin-top: 0;
  padding-top: 0;
}

.login p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.link {
  margin-top: 0.1rem;
  text-align: right;
}

.link a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.5s ease;
}
.link a:hover {
  color: purple;
}

.login button {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.login input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem;
}

*:focus {
  outline: none;
}
.login input:focus {
  outline: none;
  border: 1px solid lightblue;
}

.login button {
  border: 1px white solid;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 2px;
  font-size: 1.6rem;
  color: white;
  background: #08d9d6;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.login button:hover {
  cursor: pointer;
  border: black 1px solid;
  border-radius: 2px;
  color: black;
  background: white;
}

div img {
  width: 60px;
  height: 60px;
  border-right: 1px solid palegreen;
}

.it {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  font-size: 2rem;
}
